
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Montserrat:ital,wght@1,300&display=swap');

  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
   }

   body{
  width: 100;
  height: 100v;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(95, 147, 231);

}
.container {
  width: 80%;
  height: 80vh;
  display: flex;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

.form-image{
   width: 60%;
   display: flex;
   justify-content: center ;
   align-items: center;
   padding: 1rem;
}

.form-image img{
   width: 20 ;
}

.form{

  width: 50%;
  display: flex;
  justify-content: center ;
  align-items: center;
  flex-direction: column;
  background-color: aliceblue;
}

.form-header{
 margin-bottom: 3rem;
 display: flex;
 justify-content: space-between;
}

.login-button{
 display: flex;
 align-items: center;
}

.login-button button{
 border: none;
 background-color: rgb(50, 127, 221);
 padding: 0.4rem;
 border-radius: 5px;
 cursor: pointer;
}

.login-button button:hover{
background-color: darkorchid;
}

.login-button button a{
  text-decoration: none;
  font-weight: 500;
  color: #fff;
}

.input-grups{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding: 1rem 0;
}

.input-box{
 display: flex;
 flex-direction: column;
 margin-bottom: 1.1rem;
}

